@model Model.DB_Model.Parametros

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parametros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValidezPsw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValidezPsw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiasPsw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiasPsw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxLinesScreen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxLinesScreen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxLinesExport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxLinesExport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxDifMin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxDifMin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxAttach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxAttach)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignTicket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromUserRequest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromUserRequest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubcarpetaAdjuntoTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubcarpetaAdjuntoTicket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubcarpetaAdjuntoFichaTec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubcarpetaAdjuntoFichaTec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromUserPsw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromUserPsw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactDefault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDefault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcessDefault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessDefault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateDefault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateDefault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateAlert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateAlert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainScreenState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainScreenState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Can)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Can)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertOper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertOper)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateOper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateOper)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDatetime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParametrosId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
