@model TicketViewModel

@{
	ViewData["Title"] = "Nuevo Ticket";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
<div ng-controller="TicketCtrl">
	<form class="form-horizontal" role="form" id="ticketForm" asp-action="Create" enctype="multipart/form-data">
		@if (!string.IsNullOrEmpty(@ViewBag.Resultado))
		{
			<div class="alert alert-success" role="alert">
				@ViewBag.Resultado
			</div>
		}

		@if (!string.IsNullOrEmpty(Model.Error))
		{
			<div class="alert alert-danger" role="alert">
				@Model.Error
			</div>
		}

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="panel panel-primary margen-top">
						<div class="row">
							<div class="col-lg-4">
								<label asp-for="Numero_Ticket" class="input-sm"></label>
								<input type="hidden" asp-for="Numero_Ticket" />
								<span class="input-sm"> @Model.Numero_Ticket </span>
							</div>
							<div class="col-lg-4">
								<label asp-for="Fecha" class="input-sm">Fecha: </label>
								<span class="input-sm"> @Model.Fecha </span>
							</div>
							<div class="col-lg-4">
								<label asp-for="Username" class="input-sm"></label>
								<input type="hidden" asp-for="Username" />
								<input type="hidden" asp-for="Nombre_completo" />
								<label asp-for="Username" class="input-sm">@Model.Username - @Model.Nombre_completo </label>
							</div>
						</div>
					</div>
					<div class="panel panel-default margen-top">
						<div class="panel-heading input-sm">
							<div class="col-lg-4">
								<span class="input-sm">  <b>Datos del Usuario </b> </span><b></b>
								<input type="hidden" asp-for="Operador_Id" />
								<input type="hidden" asp-for="Usuario_Id" />
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-5">
									<div class="form-group-sm">
										<label asp-for="Operador_UserName" class="input-sm col-lg-4">Usuario </label>
										<div class="controls col-sm-6">
											<input asp-for="Operador_UserName" class="form-control input-sm" />
											<span asp-validation-for="Operador_UserName" class="text-danger"> </span>
										</div>
										<div class="col-lg-1">
											<button type="button" data-toggle="modal" data-target="#modalUsuario">
												<span class="font-size: 48px; ">
													<i class="fa fa-search"></i>
												</span>
											</button>
										</div>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									<label asp-for="Operador_Nombre_completo" class="input-sm col-lg-4"></label>
									<div class="controls col-sm-8">
										<input asp-for="Operador_Nombre_completo" class="form-control input-sm" />
									</div>
								</div>
								<div class="col-lg-5">
									<label asp-for="Area" class="input-sm col-lg-4"></label>
									<div class="controls col-sm-8">
										<input asp-for="Area" class="form-control input-sm" />
										<input type="hidden" asp-for="Area_Id" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5">
									<label asp-for="Email" class="input-sm col-lg-4"></label>
									<div class="controls col-sm-8">
										<input asp-for="Email" class="form-control input-sm" />
									</div>
								</div>
								<div class="col-lg-5">
									<label asp-for="Ubicacion" class="input-sm col-lg-4"></label>
									<div class="controls col-sm-8">
										<input asp-for="Ubicacion" class="form-control input-sm" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default margen-top">
						<div class="panel-heading input-sm">
							<div class="col-lg-4">
								<span class="input-sm">  <b>Informacion Ticket </b> </span>
							</div>
							<div class="col-lg-4">
								<span class="input-sm"> <b> </b></span>
								<span class="input-sm"> </span>
							</div>
							<div class="col-lg-4">
								<!--<span class="input-sm"> <b>Fecha Ultimo Estado: </b></span>
				<span class="input-sm"> @Model.Fecha_Ultimo_Estado </span>-->
							</div>
						</div>
						<div class="panel-body">
							@if (User.IsInRole("Administrador") || User.IsInRole("Operador"))
							{
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group-sm">
											<label asp-for="Incidente" class="input-sm col-lg-1"></label>
											<div class="controls col-sm-10">
												<textarea asp-for="Incidente" rows="1" cols="40" class="form-control input-sm"></textarea>
												<span asp-validation-for="Incidente" class="tooltip text-danger"> </span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group-sm">
											<label asp-for="Comentarios" class="input-sm col-lg-1"></label>
											<div class="controls col-sm-10">
												<textarea asp-for="Comentarios" rows="3" cols="40" class="form-control input-sm"></textarea>
												<span asp-validation-for="Comentarios" class="text-danger"> </span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="FileUpload" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<input asp-for="FileUpload" type="file" class="controls input-sm " multiple />

										</div>
									</div>
								</div>
							}
							@if (User.IsInRole("Administrador"))
							{
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="Prioridad" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select class="cbx combobox input-sm" asp-for="Prioridad" url_accion="/Tickets/GetPrioridades_Ajax">
												<option>Seleccione...</option>
											</select>
											<span asp-validation-for="Prioridad" class="text-danger"> </span>
										</div>
									</div>
									<div class="col-lg-5">
										<label asp-for="Asignado_A" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select class="cbx combobox input-sm" asp-for="Asignado_A" url_accion="/Tickets/GetAsignadoAjax">
												<option value="0">Seleccione...</option>
											</select>
											<span asp-validation-for="Asignado_A" class=" text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="Proceso" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select class="cbx combobox input-sm" asp-for="Proceso" url_accion="/Tickets/GetProcesos_Ajax">
												<option value="0">Seleccione...</option>
											</select>
											<span asp-validation-for="Proceso" class=" text-danger"></span>
										</div>
									</div>
									<div class="col-lg-5">
										<label asp-for="Tipo_Trabajo" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select class="cbx combobox input-sm" asp-for="Tipo_Trabajo" url_accion="/Tickets/GetTipoTrabajoAjax">
												<option>Seleccione...</option>
											</select>
											<span asp-validation-for="Tipo_Trabajo" class=" text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="Planta" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select id="cbxPlanta" class="combobox input-sm" asp-for="Planta">
												<option>Seleccione...</option>
											</select>
											<span asp-validation-for="Planta" class=" text-danger"></span>
										</div>
									</div>
									<div class="col-lg-5">
										<label asp-for="EquipoPrincipal" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select id='cbxEquipoPrincipal' class="combobox input-sm" asp-for="EquipoPrincipal">
												<option>Seleccione...</option>
											</select>
											<span asp-validation-for="EquipoPrincipal" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="EquipoSecundario" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select id='cbxEquipoSecundario' class="combobox input-sm" asp-for="EquipoSecundario">
												<option value="0">Seleccione...</option>
											</select>
											<!--<span asp-validation-for="EquipoSecundario" class=" text-danger"></span>-->
										</div>
									</div>
									<div class="col-lg-5">
										<label asp-for="Componente" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select id='cbxComponente' class="combobox input-sm" asp-for="Componente">
												<option value="0">Seleccione...</option>
											</select>
											<!--<span asp-validation-for="Componente" class=" text-danger"></span>-->
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<label asp-for="Estado" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<select class="cbx combobox input-sm" asp-for="Estado" url_accion="/Tickets/GetEstadosServicioAjax">
												<option>Seleccione...</option>
											</select>
											<span asp-validation-for="Estado" class=" text-danger"></span>
										</div>
									</div>
									<div class="col-lg-5">
										<label asp-for="Fecha_Entrega" class="input-sm col-lg-4"></label>
										<div class="controls col-sm-8">
											<input asp-for="Fecha_Entrega" class="form-control input-sm" />
											<span asp-validation-for="Fecha_Entrega" class=" text-danger"></span>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
					<div class="panel panel-default">
						<div class="row">
							<div class="col-md-12">
								<center>
									<a class="button btn btn-default" asp-action="Index">Cancelar</a>
									<input type="submit" value="Guardar" class="btn btn-info" />
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		
	</form>

	<!-- Modal -->
	<!--Url para usar funcion generica para las listas -->
	<div id="div_url" urlLista="/Tickets/GetUsuarios"></div>
	<!---->
	<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalUsuarioTitle">Usuario - Operador</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6">
							<table style="float:right">
								<tr>
									<td>Filtrar:</td>
									<td>
										<input type="text" class="input-sm" ng-model="searchText" placeholder="Ingrese texto a buscar" />
									</td>
								</tr>
							</table>
						</div>
					</div>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>
									<span class="font-size: 48px;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</span>
								</th>
								<th>Nombre Completo</th>
								<th>Area</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="row in datos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText ">

								<td>
									<button class="user_in_list" ng-click="CargarUsuario(row)">

										<span class="font-size: 48px;">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</span>
									</button>
								</td>
								<td>{{ row.fullName }}</td>
								<td>{{ row.area }}</td>
							</tr>

						</tbody>
					</table>
					View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
						<option>3</option>
						<option>5</option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option>
					</select> records at a time.

					<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/lib/select2/dist/js/select2.min.js"></script>


}
