@model TicketViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
	.tabs {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}

	#tab-button {
		display: table;
		table-layout: fixed;
		width: 50%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

		#tab-button li {
			display: table-cell;
			width: 20%;
		}

			#tab-button li a {
				display: block;
				padding: .5em;
				background: #eee;
				border: 1px solid #ddd;
				text-align: center;
				color: #000;
				text-decoration: none;
			}

			#tab-button li:not(:first-child) a {
				border-left: none;
			}

			#tab-button li a:hover,
			#tab-button .is-active a {
				border-bottom-color: transparent;
				background: #fff;
			}

	.tab-contents {
		padding: .5em 2em 1em;
		border: 1px solid #ddd;
		background: #f5f5f5;
	}



	.tab-button-outer {
		display: none;
	}

	.tab-contents {
		margin-top: 20px;
	}

	@@media screen and (min-width: 768px) {
		.tab-button-outer {
			position: relative;
			z-index: 2;
			display: block;
		}

		.tab-select-outer {
			display: none;
		}

		.tab-contents {
			position: relative;
			top: -1px;
			margin-top: 0;
		}
	}
</style>

<div ng-controller="TicketCtrl">
	<form class="form-horizontal" role="form" id="ticketForm" asp-action="Edit" enctype="multipart/form-data">
		@if (!string.IsNullOrEmpty(@ViewBag.Resultado))
		{
			<div class="alert alert-success" role="alert">
				@ViewBag.Resultado
			</div>
		}
		@if (!string.IsNullOrEmpty(Model.Error))
		{
			<div class="alert alert-danger" role="alert">
				@Model.Error
			</div>
		}

		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-4">
						<!--Ticket ID -->
						<input type="hidden" asp-for="Id" />
						<label asp-for="Numero_Ticket" class="input-sm"></label>
						<input type="hidden" asp-for="Numero_Ticket" />
						<span class="input-sm"> @Model.Numero_Ticket </span>
					</div>
					<div class="col-lg-4">
						<label asp-for="Fecha" class="input-sm">Fecha: </label>
						<span class="input-sm"> @Model.Fecha </span>
					</div>
					<div class="col-lg-4">
						<label asp-for="Username" class="input-sm"></label>
						<input type="hidden" asp-for="Username" />
						<input type="hidden" asp-for="Nombre_completo" />
						<label asp-for="Username" class="input-sm">@Model.Username - @Model.Nombre_completo </label>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<a data-toggle="collapse" href="#datos_usuario" aria-expanded="true" aria-controls="datos_usuario">
				<div class="card-header card-header-text card-header-success ">
					<div class="card-text">

						<h6 class="card-title">Datos del Usuario</h6>
					</div>
					<input type="hidden" asp-for="Operador_Id" />
					<input type="hidden" asp-for="Usuario_Id" />
				</div>
			</a>
			<div class="card-body collapse show" id="datos_usuario">

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="input-group no-border">
							<input type="text" asp-for="Operador_UserName" class="form-control" placeholder="Usuario" required />
							<button type="button" data-toggle="modal" data-target="#modalUsuario" class="btn btn-white btn-round btn-just-icon" ng-click="load_resultados('/Tickets/GetUsuarios')">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12">
						<input asp-for="Operador_Nombre_completo" class="form-control input-sm" placeholder="Nombre" readonly />
						<input type="hidden" asp-for="Operador_Nombre_completo" />
					</div>

				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12">
						<input asp-for="Area" class="form-control" placeholder="Area Usuario" readonly />
						<input type="hidden" asp-for="Area_Id" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<input asp-for="Email" class="form-control" placeholder="Correo Electronico" readonly />
						<input type="hidden" asp-for="Email" />
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<input asp-for="Ubicacion" class="form-control" placeholder="Ubicación" readonly />
						<input type="hidden" asp-for="Ubicacion" />
					</div>

				</div>


			</div>
		</div>
		<div class="card">
			<a data-toggle="collapse" href="#datos_ticket" aria-expanded="true" aria-controls="datos_ticket">
				<div class="card-header card-header-text  card-header-success">
					<div class="card-text">
						<h6 class="card-title">Informacion Ticket</h6>
					</div>
				</div>
			</a>
			<div class="card-body collapse show" id="datos_ticket">


				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="form-group">
							<label asp-for="Incidente" class="col-lg-2"></label>
							<div class="controls col-sm-12">
								<textarea asp-for="Incidente" rows="1" cols="40" class="form-control" placeholder="Coloque el Asunto de su Incidente" required></textarea>
								<span asp-validation-for="Incidente" class="tooltip text-danger"> </span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="form-group">
							<label asp-for="Comentarios" class="input-sm col-lg-2"></label>
							<div class="controls col-sm-12">
								<textarea asp-for="Comentarios" rows="3" cols="40" class="form-control" placeholder="Describa a detalle su Incidente" required></textarea>
								<span asp-validation-for="Comentarios" class="text-danger"> </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<label asp-for="FileUpload" class="col-lg-4 col-md-4 col-sm-12"></label>
						<div class="controls col-sm-12">
							<input asp-for="FileUpload" type="file" class="controls input-sm " multiple />
							<span asp-validation-for="FileUpload" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<ul class="list-group">
							@foreach (var file in Model.Files)
							{
								<li class="list-group-item input-sm">
									<i class="fa fa-file-archive-o" aria-hidden="true"></i>
									<input type="hidden" name="fileName" value="fileName" />
									<a asp-action="Download" asp-route-filename="@Model.Numero_Ticket---@file.Name">
										@file.Name
									</a>
									-
									@file.Fecha_modificacion
								</li>
							}
						</ul>
					</div>
				</div>

				@if (User.IsInRole("Operador"))
				{
					<div class="row ">
						<div class="col-lg-6">
							<label asp-for="Prioridad" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Prioridad_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Prioridad" />
							</div>
						</div>
						<div class="col-lg-6">
							<label asp-for="Asignado_A" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Asignado_A_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Asignado_A" />
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-6">
							<label asp-for="Proceso" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Proceso_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Proceso" />
							</div>
						</div>
						<div class="col-lg-6">
							<label asp-for="Tipo_Trabajo" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Tipo_Trabajo_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Tipo_Trabajo" />
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-6">
							<label asp-for="Planta" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Planta_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Planta" />
							</div>
						</div>
						<div class="col-lg-6">
							<label asp-for="EquipoPrincipal" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="EquipoPrincipal_Text" class="form-control" readonly />
								<input type="hidden" asp-for="EquipoPrincipal" />
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-6">
							<label asp-for="EquipoSecundario" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="EquipoSecundario_Text" class="form-control" readonly />
								<input type="hidden" asp-for="EquipoSecundario" />
							</div>
						</div>
						<div class="col-lg-6">
							<label asp-for="Componente" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Componente_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Componente" />
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-6">
							<label asp-for="Estado" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input type="text" asp-for="Estado_Text" class="form-control" readonly />
								<input type="hidden" asp-for="Estado" />
							</div>
						</div>
						<div class="col-lg-6">
							<label asp-for="Fecha_Entrega" class="input-sm col-lg-4"></label>
							<div class="controls col-sm-8">
								<input asp-for="Fecha_Entrega" class="form-control input-sm" readonly />
								<span asp-validation-for="Fecha_Entrega" class="datepicker text-danger"></span>
								<input type="hidden" asp-for="Fecha_Entrega" />
							</div>
						</div>
					</div>

				}
				else if (User.IsInRole("Administrador"))
				{
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Prioridad" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select class="cbx combobox input-sm" asp-for="Prioridad" url_accion="/Tickets/GetPrioridades_Ajax" asp-items="@Model.Lista_Prioridades">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Prioridad" class=" text-danger"></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Asignado_A" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select class="cbx combobox input-sm" asp-for="Asignado_A" url_accion="/Tickets/GetAsignadoAjax" asp-items="@Model.Lista_Asignados_A">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Asignado_A" class=" text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Proceso" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select class="cbx combobox input-sm" asp-for="Proceso" url_accion="/Tickets/GetProcesos_Ajax" asp-items="@Model.Lista_Procesos">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Proceso" class=" text-danger"></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Tipo_Trabajo" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select class="cbx combobox input-sm" asp-for="Tipo_Trabajo" url_accion="/Tickets/GetTipoTrabajoAjax" asp-items="@Model.Lista_Tipo_Trabajos">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Tipo_Trabajo" class=" text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Planta" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select id="cbxPlanta" class="combobox input-sm" asp-for="Planta" asp-items="@Model.Lista_Plantas">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Planta" class=" text-danger"></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="EquipoPrincipal" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select id='cbxEquipoPrincipal' class="combobox input-sm" asp-for="EquipoPrincipal" asp-items="@Model.Lista_Equipos_princ">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="EquipoPrincipal" class=" text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="EquipoSecundario" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select id='cbxEquipoSecundario' class="cbx combobox input-sm" asp-for="EquipoSecundario" asp-items="@Model.Lista_Equipos_sec">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="EquipoSecundario" class="text-danger"></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Componente" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select id='cbxComponente' class="cbx combobox input-sm" asp-for="Componente" asp-items="@Model.Lista_Componentes">

									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Componente" class=" text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Estado" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select class="cbx combobox input-sm" asp-for="Estado" url_accion="/Tickets/GetEstadosServicioAjax" asp-items="@Model.Lista_Estados">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Estado" class=" text-danger"></span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Fecha_Entrega" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<input asp-for="Fecha_Entrega" class="form-control input-sm" />
								<span asp-validation-for="Fecha_Entrega" class="datepicker text-danger"></span>
							</div>
						</div>
					</div>
				}
			</div>

		</div>

		@if ((User.IsInRole("Administrador") || User.IsInRole("Operador")) && Model.Estado == 3)
		{
			<div class="card">
				<a data-toggle="collapse" href="#calificacion_ticket" aria-expanded="true" aria-controls="calificacion_ticket">
					<div class="card-header card-header-text  card-header-success">
						<div class="card-text">
							<h6 class="card-title">Calificación del Servicio Ticket</h6>
						</div>
					</div>
				</a>
				<div class="card-body collapse show" id="calificacion_ticket">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<label asp-for="Calificacion" class="input-sm col-sm-4"></label>
							<div class="controls col-sm-8">
								<select id='cbxCalificacion' class="cbx combobox" url_accion="/Tickets/GetCalificacionServicioAjax" asp-for="Calificacion" asp-items="@Model.Lista_Calificaion">
									<option value="0">Seleccione...</option>
								</select>
								<span asp-validation-for="Calificacion" class=" text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
		<div class="card">
			<a data-toggle="collapse" href="#seg_ticket" aria-expanded="true" aria-controls="seg_ticket">
				<div class="card-header card-header-text  card-header-success">
					<div class="card-text">
						<h6 class="card-title">Seguimiento Ticket</h6>
					</div>
				</div>
			</a>
			<div class="card-body collapse show" id="seg_ticket">
				<!-- Tab panes -->
				<div class="tabs">
					<div class="tab-button-outer">
						<ul id="tab-button">
							<li><a href="#tab01">Seguimiento Ticket</a></li>
							<li><a href="#tab02">Informaci&oacute;n de Cierre</a></li>
						</ul>
					</div>
					<div class="tab-select-outer">
						<select id="tab-select">
							<option value="#tab01">Seguimiento Ticket</option>
							<option value="#tab02">Informaci&oacute;n de Cierre</option>
						</select>
					</div>
					<div id="tab01" class="tab-contents">
						@if (User.IsInRole("Administrador"))
						{
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group-sm">
										<label asp-for="NotasTrabajo" class="input-sm col-sm-2"></label>
										<div class="controls col-sm-12">
											<textarea asp-for="NotasTrabajo" rows="3" cols="40" class="form-control" placeholder="Añada sus notas aqui" required></textarea>
										</div>
									</div>
								</div>
							</div>
						}
						<div class="card">
							<div class="card-header card-header-text card-header-success ">
								<div class="card-text">
									<h6 class="card-title">Actividades</h6>
								</div>
							</div>
							<div class="card-body">
								<div class="row">

									<div class="col-sm-12 col-md-12 col-lg-12">
										<ul id="lista_seguimiento">
											<li class="h-card" ng-repeat="item in lista_seg">
												<div class="row">
													<div class="col-sm-12">
														<div style="float:left">
															<span><i class="fa fa-user-circle"></i> {{ item.insertOper }} </span>
														</div>
														<div style="float:right">
															<span><b>Fecha de modifición:</b> {{ item.fecha | date: 'short' }}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12 col-md-12 col-lg-12">
														<table class="table table-striped table-no-bordered table-hover dataTable dtr-inline">
															<thead class="text-primary">
																<tr>
																	<td>Campos Afectados</td>
																	<td>Valor Actual </td>
																	<td>Valor Anterior</td>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="x in item.cambios">
																	<td><b> {{ x.campoCambiado }}: </b></td>
																	<td>{{ x.valorActual  }}</td>
																	<td>{{ x.valorAnterior  }}</td>
																</tr>
															</tbody>
														</table>
													</div>

												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div id="tab02" class="tab-contents">
						@if (User.IsInRole("Administrador"))
						{
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group-sm">
										<label asp-for="NotaCierreServicio" class="input-sm col-sm-2"></label>
										<div class="controls col-sm-12">
											<textarea asp-for="NotaCierreServicio" rows="3" cols="40" class="form-control input-sm" required></textarea>
										</div>
									</div>
								</div>
							</div>
						}
						else if (User.IsInRole("Operador"))
						{
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group-sm">
										<label asp-for="NotaCierreServicio" class="input-sm col-sm-2"></label>
										<div class="controls col-sm-12">
											<textarea asp-for="NotaCierreServicio" rows="3" cols="40" class="form-control input-sm" required readonly></textarea>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<center>
					<a class="button btn btn-default" asp-action="Index">Cancelar</a>
					<input type="submit" value="Guardar" class="btn btn-info" />
				</center>
			</div>
		</div>
	</form>
	<!-- Modal -->
	<partial name="_modales" />
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

