@model TicketViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}

	.tabs {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}

	#tab-button {
		display: table;
		table-layout: fixed;
		width: 50%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

		#tab-button li {
			display: table-cell;
			width: 20%;
		}

			#tab-button li a {
				display: block;
				padding: .5em;
				background: #eee;
				border: 1px solid #ddd;
				text-align: center;
				color: #000;
				text-decoration: none;
			}

			#tab-button li:not(:first-child) a {
				border-left: none;
			}

			#tab-button li a:hover,
			#tab-button .is-active a {
				border-bottom-color: transparent;
				background: #fff;
			}

	.tab-contents {
		padding: .5em 2em 1em;
		border: 1px solid #ddd;
		background: #f5f5f5;
	}



	.tab-button-outer {
		display: none;
	}

	.tab-contents {
		margin-top: 20px;
	}

	@@media screen and (min-width: 768px) {
		.tab-button-outer {
			position: relative;
			z-index: 2;
			display: block;
		}

		.tab-select-outer {
			display: none;
		}

		.tab-contents {
			position: relative;
			top: -1px;
			margin-top: 0;
		}
	}
</style>

<div ng-controller="TicketCtrl">
	<form class="form-horizontal" role="form" id="ticketForm" asp-action="Edit" enctype="multipart/form-data">
		@if (!string.IsNullOrEmpty(@ViewBag.Resultado))
		{
			<div class="alert alert-success" role="alert">
				@ViewBag.Resultado
			</div>
		}
		@if (!string.IsNullOrEmpty(Model.Error))
		{
			<div class="alert alert-danger" role="alert">
				@Model.Error
			</div>
		}

		<div class="panel panel-primary margen-top">
			<div class="row">
				<div class="col-xs-4">
					<!--Ticket ID -->
					<input type="hidden" asp-for="Id" />
					<label asp-for="Numero_Ticket" class="input-sm"></label>
					<input type="hidden" asp-for="Numero_Ticket" />
					<span class="input-sm"> @Model.Numero_Ticket </span>
				</div>
				<div class="col-xs-4">
					<label asp-for="Fecha" class="input-sm">Fecha: </label>
					<span class="input-sm"> @Model.Fecha </span>
				</div>
				<div class="col-xs-4">
					<label asp-for="Username" class="input-sm"></label>
					<input type="hidden" asp-for="Username" />
					<input type="hidden" asp-for="Nombre_completo" />
					<label asp-for="Username" class="input-sm">@Model.Username - @Model.Nombre_completo </label>
				</div>
			</div>
		</div>
		<div class="panel panel-default margen-top">
			<div class="panel-heading input-sm">
				<div class="col-xs-4">
					<span class="input-sm">  <b>Datos del Usuario </b> </span><b></b>
					<input type="hidden" asp-for="Operador_Id" />
					<input type="hidden" asp-for="Usuario_Id" />
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-5">
						<div class="form-group-sm">
							<label asp-for="Operador_UserName" class="input-sm col-xs-4">Usuario </label>
							<div class="controls col-sm-6">
								<input asp-for="Operador_UserName" class="form-control input-sm" />
							</div>
							<div class="col-xs-1">
								<button type="button" data-toggle="modal" data-target="#modalUsuario">
									<span class="font-size: 48px; ">
										<i class="fa fa-search"></i>
									</span>
								</button>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Operador_Nombre_completo" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="Operador_Nombre_completo" class="form-control input-sm" />
							<span asp-validation-for="Operador_UserName" class="text-danger"> </span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Area" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="Area" class="form-control input-sm" />
							<input type="hidden" asp-for="Area_Id" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Email" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="Email" class="form-control input-sm" />
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Ubicacion" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="Ubicacion" class="form-control input-sm" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default margen-top">
			<div class="panel-heading input-sm">
				<div class="col-xs-4">
					<span class="input-sm">  <b>Informacion Ticket </b> </span>
				</div>
				<div class="col-xs-4">
					<span class="input-sm"> <b> </b></span>
					<span class="input-sm"> </span>
				</div>
				<div class="col-xs-4">
					<span class="input-sm"> <b>Fecha Ultimo Estado: </b></span>
					<span class="input-sm"> @Model.Fecha_Ultimo_Estado </span>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group-sm">
							<label asp-for="Incidente" class="input-sm col-xs-1"></label>
							<div class="controls col-sm-10">
								<textarea asp-for="Incidente" rows="1" cols="40" class="form-control input-sm"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group-sm">
							<label asp-for="Comentarios" class="input-sm col-xs-1"></label>
							<div class="controls col-sm-10">
								<textarea asp-for="Comentarios" rows="3" cols="40" class="form-control input-sm"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="FileUpload" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="FileUpload" type="file" class="controls input-sm " multiple />
							<span asp-validation-for="FileUpload" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="col-md-10">
							<ul class="list-group">
								@foreach (var file in Model.Files)
								{
									<li class="list-group-item input-sm">
										<i class="fa fa-file-archive-o" aria-hidden="true"></i>
										<input type="hidden" name="fileName" value="fileName" />
										<a asp-action="Download" asp-route-filename="@Model.Numero_Ticket---@file.Name">
											@file.Name
										</a>
										-
										@file.Fecha_modificacion
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Prioridad" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select class="cbx combobox input-sm" asp-for="Prioridad" url_accion="/Tickets/GetPrioridades_Ajax" asp-items="@Model.Lista_Prioridades">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Prioridad" class=" text-danger"></span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Asignado_A" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select class="cbx combobox input-sm" asp-for="Asignado_A" url_accion="/Tickets/GetAsignadoAjax" asp-items="@Model.Lista_Asignados_A">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Asignado_A" class=" text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Proceso" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select class="cbx combobox input-sm" asp-for="Proceso" url_accion="/Tickets/GetProcesos_Ajax" asp-items="@Model.Lista_Procesos">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Proceso" class=" text-danger"></span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Tipo_Trabajo" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select class="cbx combobox input-sm" asp-for="Tipo_Trabajo" url_accion="/Tickets/GetTipoTrabajoAjax" asp-items="@Model.Lista_Tipo_Trabajos">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Tipo_Trabajo" class=" text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Planta" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select id="cbxPlanta" class="combobox input-sm" asp-for="Planta" asp-items="@Model.Lista_Plantas">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Planta" class=" text-danger"></span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="EquipoPrincipal" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select id='cbxEquipoPrincipal' class="combobox input-sm" asp-for="EquipoPrincipal" asp-items="@Model.Lista_Equipos_princ">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="EquipoPrincipal" class=" text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="EquipoSecundario" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select id='cbxEquipoSecundario' class="cbx combobox input-sm" asp-for="EquipoSecundario" asp-items="@Model.Lista_Equipos_sec">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="EquipoSecundario" class="text-danger"></span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Componente" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select id='cbxComponente' class="cbx combobox input-sm" asp-for="Componente" asp-items="@Model.Lista_Componentes">
								
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Componente" class=" text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<label asp-for="Estado" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<select class="cbx combobox input-sm" asp-for="Estado" url_accion="/Tickets/GetEstadosServicioAjax" asp-items="@Model.Lista_Estados">
								<option value="0">Seleccione...</option>
							</select>
							<span asp-validation-for="Estado" class=" text-danger"></span>
						</div>
					</div>
					<div class="col-xs-5">
						<label asp-for="Fecha_Entrega" class="input-sm col-xs-4"></label>
						<div class="controls col-sm-8">
							<input asp-for="Fecha_Entrega" class="form-control input-sm" />
							<span asp-validation-for="Fecha_Entrega" class=" text-danger"></span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="panel panel-default margen-top">
			<div class="panel-heading input-sm">
				<div class="col-xs-4">
					<span class="input-sm">  <b>Seguimiento Ticket</b> </span>
				</div>
				<div class="col-xs-4">
					<span class="input-sm"> <b> </b></span>
					<span class="input-sm"> </span>
				</div>
				<div class="col-xs-4">
					<span class="input-sm"> <b>Fecha Ultimo Estado: </b></span>
					<span class="input-sm"> @Model.Fecha_Ultimo_Estado </span>
				</div>
			</div>
			<div class="panel-body">
				<!-- Tab panes -->
				<div class="tabs">
					<div class="tab-button-outer">
						<ul id="tab-button">
							<li><a href="#tab01">Seguimiento Ticket</a></li>
							<li><a href="#tab02">Informaci&oacute;n de Cierre</a></li>
						</ul>
					</div>
					<div class="tab-select-outer">
						<select id="tab-select">
							<option value="#tab01">Seguimiento Ticket</option>
							<option value="#tab02">Informaci&oacute;n de Cierre</option>
						</select>
					</div>
					<div id="tab01" class="tab-contents">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group-sm">
									<label asp-for="NotasTrabajo" class="input-sm col-xs-2"></label>
									<div class="controls col-xs-10">
										<textarea asp-for="NotasTrabajo" rows="3" cols="40" class="form-control input-sm"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<hr />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-2 col-md-2">
								<div class="controls col-sm-10 input-sm">
									<b>Activadades</b>
								</div>
							</div>
						</div>
						<div class="row">
							<label class="control-label col-xs-2 col-md-2 col-lg-2"></label>
							<div class="col-xs-12 col-md-12 col-lg-12">
								<ul id="lista_seguimiento">
									<li class="h-card" ng-repeat="item in lista_seg">
										<div class="row">
											<div class="col-xs-12 input-sm">
												<div style="float:left">
													<span><i class="fa fa-user-circle"></i> {{ item.usuarioId }} </span>
												</div>
												<div style="float:right">
													<span><b>Fecha de modifición:</b> {{ item.fecha | date: 'short' }}</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<table class="table table-striped input-sm">
													<thead>
														<tr>
															<th>Campos Afectados</th>
															<th>Valor Actual </th>
															<th>Valor Anterior</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="x in item.cambios">
															<td><b> {{ x.campoCambiado }}: </b></td>
															<td>{{ x.valorActual  }}</td>
															<td>{{ x.valorAnterior  }}</td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="tab02" class="tab-contents">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group-sm">
									<label asp-for="NotaCierreServicio" class="input-sm col-xs-1"></label>
									<div class="controls col-sm-10">
										<textarea asp-for="NotaCierreServicio" rows="3" cols="40" class="form-control input-sm" required></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="row">
				<div class="col-md-12">
					<center>
						<a class="button btn btn-default" asp-action="Index">Cancelar</a>
						<input type="submit" value="Guardar" class="btn btn-info" />
					</center>
				</div>
			</div>
		</div>
	</form>

	<!-- Modal -->
	<!--Url para usar funcion generica para las listas -->
	<div id="div_url" urlLista="/Tickets/GetUsuarios"></div>
	<!---->
	<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalUsuarioTitle">Usuario - Operador</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6">
							<table style="float:right">
								<tr>
									<td>Filtrar:</td>
									<td>
										<input type="text" class="input-sm" ng-model="searchText" placeholder="Ingrese texto a buscar" />
									</td>
								</tr>
							</table>
						</div>
					</div>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>
									<span class="font-size: 48px;">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</span>
								</th>
								<th>Nombre Completo</th>
								<th>Area</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in datos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText">
								<td>
									<button class="user_in_list" ng-click="CargarUsuario(row.id)">
										<span class="font-size: 48px;">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</span>
									</button>
								</td>
								<td>{{ row.fullName }}</td>
								<td>{{ row.area }}</td>
							</tr>

						</tbody>
					</table>
					View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
						<option>3</option>
						<option>5</option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option>
					</select> records at a time.

					<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}

