@model IEnumerable<Model.DB_Model.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Numero_Ticket)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Prioridad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fecha)
			</th>
			<th>
				@*Html.DisplayNameFor(model => model.Usuario_Id)*@
				<label>Usuario</label>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre_completo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asignado_A)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Incidente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Numero_Ticket)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Prioridad)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Fecha)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Usuario_Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre_completo)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Asignado_A)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Incidente)
			</td>
			
			<td>
				@Html.DisplayFor(modelItem => item.Estado)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
